<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lvdouwa.daxue.web.dao.FsxMapper" >
  <resultMap id="BaseResultMap" type="com.lvdouwa.daxue.web.model.Fsx" >
    <id column="tid" property="tid" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="year" property="year" jdbcType="INTEGER" />
    <result column="averagescore" property="averagescore" jdbcType="INTEGER" />
    <result column="advancebatch" property="advancebatch" jdbcType="INTEGER" />
    <result column="firstbatch" property="firstbatch" jdbcType="INTEGER" />
    <result column="secondbatch" property="secondbatch" jdbcType="INTEGER" />
    <result column="thirdbatch" property="thirdbatch" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from fsx
    where tid = #{tid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lvdouwa.daxue.web.model.Fsx" >
    insert into fsx (tid, uid, year, 
      averagescore, advancebatch, firstbatch, 
      secondbatch, thirdbatch)
    values (#{tid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{year,jdbcType=INTEGER}, 
      #{averagescore,jdbcType=INTEGER}, #{advancebatch,jdbcType=INTEGER}, #{firstbatch,jdbcType=INTEGER}, 
      #{secondbatch,jdbcType=INTEGER}, #{thirdbatch,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.lvdouwa.daxue.web.model.Fsx" >
    update fsx
    set uid = #{uid,jdbcType=INTEGER},
      year = #{year,jdbcType=INTEGER},
      averagescore = #{averagescore,jdbcType=INTEGER},
      advancebatch = #{advancebatch,jdbcType=INTEGER},
      firstbatch = #{firstbatch,jdbcType=INTEGER},
      secondbatch = #{secondbatch,jdbcType=INTEGER},
      thirdbatch = #{thirdbatch,jdbcType=INTEGER}
    where tid = #{tid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select tid, uid, year, averagescore, advancebatch, firstbatch, secondbatch, thirdbatch
    from fsx
    where tid = #{tid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select tid, uid, year, averagescore, advancebatch, firstbatch, secondbatch, thirdbatch
    from fsx
  </select>
</mapper>