<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lvdouwa.daxue.web.dao.JbxxMapper">
  <resultMap id="BaseResultMap" type="com.lvdouwa.daxue.web.model.Jbxx">
    <id column="uid" jdbcType="INTEGER" property="uid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="subjection" jdbcType="VARCHAR" property="subjection" />
    <result column="keydiscipline" jdbcType="INTEGER" property="keydiscipline" />
    <result column="academician" jdbcType="INTEGER" property="academician" />
    <result column="doctordegree" jdbcType="INTEGER" property="doctordegree" />
    <result column="masterdegree" jdbcType="INTEGER" property="masterdegree" />
    <result column="location" jdbcType="VARCHAR" property="location" />
    <result column="is985or211" jdbcType="VARCHAR" property="is985or211" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="web" jdbcType="VARCHAR" property="web" />
    <result column="profile" jdbcType="VARCHAR" property="profile" />
  </resultMap>
  <sql id="Base_Column_List">
    uid, name, type, subjection, keydiscipline, academician, doctordegree, masterdegree, 
    location, is985or211, address, telephone, web, profile
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from jbxx
    where uid = #{uid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from jbxx
    where uid = #{uid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lvdouwa.daxue.web.model.Jbxx">
    insert into jbxx (uid, name, type, 
      subjection, keydiscipline, academician, 
      doctordegree, masterdegree, location, 
      is985or211, address, telephone, 
      web, profile)
    values (#{uid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{subjection,jdbcType=VARCHAR}, #{keydiscipline,jdbcType=INTEGER}, #{academician,jdbcType=INTEGER}, 
      #{doctordegree,jdbcType=INTEGER}, #{masterdegree,jdbcType=INTEGER}, #{location,jdbcType=VARCHAR}, 
      #{is985or211,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, 
      #{web,jdbcType=VARCHAR}, #{profile,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lvdouwa.daxue.web.model.Jbxx">
    insert into jbxx
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        uid,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="subjection != null">
        subjection,
      </if>
      <if test="keydiscipline != null">
        keydiscipline,
      </if>
      <if test="academician != null">
        academician,
      </if>
      <if test="doctordegree != null">
        doctordegree,
      </if>
      <if test="masterdegree != null">
        masterdegree,
      </if>
      <if test="location != null">
        location,
      </if>
      <if test="is985or211 != null">
        is985or211,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="telephone != null">
        telephone,
      </if>
      <if test="web != null">
        web,
      </if>
      <if test="profile != null">
        profile,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="subjection != null">
        #{subjection,jdbcType=VARCHAR},
      </if>
      <if test="keydiscipline != null">
        #{keydiscipline,jdbcType=INTEGER},
      </if>
      <if test="academician != null">
        #{academician,jdbcType=INTEGER},
      </if>
      <if test="doctordegree != null">
        #{doctordegree,jdbcType=INTEGER},
      </if>
      <if test="masterdegree != null">
        #{masterdegree,jdbcType=INTEGER},
      </if>
      <if test="location != null">
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="is985or211 != null">
        #{is985or211,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="web != null">
        #{web,jdbcType=VARCHAR},
      </if>
      <if test="profile != null">
        #{profile,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lvdouwa.daxue.web.model.Jbxx">
    update jbxx
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="subjection != null">
        subjection = #{subjection,jdbcType=VARCHAR},
      </if>
      <if test="keydiscipline != null">
        keydiscipline = #{keydiscipline,jdbcType=INTEGER},
      </if>
      <if test="academician != null">
        academician = #{academician,jdbcType=INTEGER},
      </if>
      <if test="doctordegree != null">
        doctordegree = #{doctordegree,jdbcType=INTEGER},
      </if>
      <if test="masterdegree != null">
        masterdegree = #{masterdegree,jdbcType=INTEGER},
      </if>
      <if test="location != null">
        location = #{location,jdbcType=VARCHAR},
      </if>
      <if test="is985or211 != null">
        is985or211 = #{is985or211,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="web != null">
        web = #{web,jdbcType=VARCHAR},
      </if>
      <if test="profile != null">
        profile = #{profile,jdbcType=VARCHAR},
      </if>
    </set>
    where uid = #{uid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lvdouwa.daxue.web.model.Jbxx">
    update jbxx
    set name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      subjection = #{subjection,jdbcType=VARCHAR},
      keydiscipline = #{keydiscipline,jdbcType=INTEGER},
      academician = #{academician,jdbcType=INTEGER},
      doctordegree = #{doctordegree,jdbcType=INTEGER},
      masterdegree = #{masterdegree,jdbcType=INTEGER},
      location = #{location,jdbcType=VARCHAR},
      is985or211 = #{is985or211,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      web = #{web,jdbcType=VARCHAR},
      profile = #{profile,jdbcType=VARCHAR}
    where uid = #{uid,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.lvdouwa.daxue.web.model.Jbxx">
    <id column="uid" jdbcType="INTEGER" property="uid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="subjection" jdbcType="VARCHAR" property="subjection" />
    <result column="keydiscipline" jdbcType="INTEGER" property="keydiscipline" />
    <result column="academician" jdbcType="INTEGER" property="academician" />
    <result column="doctordegree" jdbcType="INTEGER" property="doctordegree" />
    <result column="masterdegree" jdbcType="INTEGER" property="masterdegree" />
    <result column="location" jdbcType="VARCHAR" property="location" />
    <result column="is985or211" jdbcType="VARCHAR" property="is985or211" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="web" jdbcType="VARCHAR" property="web" />
    <result column="profile" jdbcType="VARCHAR" property="profile" />
  </resultMap>
  <sql id="Base_Column_List">
    uid, name, type, subjection, keydiscipline, academician, doctordegree, masterdegree, 
    location, is985or211, address, telephone, web, profile
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from jbxx
    where uid = #{uid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from jbxx
    where uid = #{uid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lvdouwa.daxue.web.model.Jbxx">
    insert into jbxx (uid, name, type, 
      subjection, keydiscipline, academician, 
      doctordegree, masterdegree, location, 
      is985or211, address, telephone, 
      web, profile)
    values (#{uid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{subjection,jdbcType=VARCHAR}, #{keydiscipline,jdbcType=INTEGER}, #{academician,jdbcType=INTEGER}, 
      #{doctordegree,jdbcType=INTEGER}, #{masterdegree,jdbcType=INTEGER}, #{location,jdbcType=VARCHAR}, 
      #{is985or211,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, 
      #{web,jdbcType=VARCHAR}, #{profile,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lvdouwa.daxue.web.model.Jbxx">
    insert into jbxx
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        uid,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="subjection != null">
        subjection,
      </if>
      <if test="keydiscipline != null">
        keydiscipline,
      </if>
      <if test="academician != null">
        academician,
      </if>
      <if test="doctordegree != null">
        doctordegree,
      </if>
      <if test="masterdegree != null">
        masterdegree,
      </if>
      <if test="location != null">
        location,
      </if>
      <if test="is985or211 != null">
        is985or211,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="telephone != null">
        telephone,
      </if>
      <if test="web != null">
        web,
      </if>
      <if test="profile != null">
        profile,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="subjection != null">
        #{subjection,jdbcType=VARCHAR},
      </if>
      <if test="keydiscipline != null">
        #{keydiscipline,jdbcType=INTEGER},
      </if>
      <if test="academician != null">
        #{academician,jdbcType=INTEGER},
      </if>
      <if test="doctordegree != null">
        #{doctordegree,jdbcType=INTEGER},
      </if>
      <if test="masterdegree != null">
        #{masterdegree,jdbcType=INTEGER},
      </if>
      <if test="location != null">
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="is985or211 != null">
        #{is985or211,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="web != null">
        #{web,jdbcType=VARCHAR},
      </if>
      <if test="profile != null">
        #{profile,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lvdouwa.daxue.web.model.Jbxx">
    update jbxx
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="subjection != null">
        subjection = #{subjection,jdbcType=VARCHAR},
      </if>
      <if test="keydiscipline != null">
        keydiscipline = #{keydiscipline,jdbcType=INTEGER},
      </if>
      <if test="academician != null">
        academician = #{academician,jdbcType=INTEGER},
      </if>
      <if test="doctordegree != null">
        doctordegree = #{doctordegree,jdbcType=INTEGER},
      </if>
      <if test="masterdegree != null">
        masterdegree = #{masterdegree,jdbcType=INTEGER},
      </if>
      <if test="location != null">
        location = #{location,jdbcType=VARCHAR},
      </if>
      <if test="is985or211 != null">
        is985or211 = #{is985or211,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="web != null">
        web = #{web,jdbcType=VARCHAR},
      </if>
      <if test="profile != null">
        profile = #{profile,jdbcType=VARCHAR},
      </if>
    </set>
    where uid = #{uid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lvdouwa.daxue.web.model.Jbxx">
    update jbxx
    set name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      subjection = #{subjection,jdbcType=VARCHAR},
      keydiscipline = #{keydiscipline,jdbcType=INTEGER},
      academician = #{academician,jdbcType=INTEGER},
      doctordegree = #{doctordegree,jdbcType=INTEGER},
      masterdegree = #{masterdegree,jdbcType=INTEGER},
      location = #{location,jdbcType=VARCHAR},
      is985or211 = #{is985or211,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      web = #{web,jdbcType=VARCHAR},
      profile = #{profile,jdbcType=VARCHAR}
    where uid = #{uid,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.lvdouwa.daxue.web.model.Jbxx">
    <id column="uid" jdbcType="INTEGER" property="uid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="subjection" jdbcType="VARCHAR" property="subjection" />
    <result column="keydiscipline" jdbcType="INTEGER" property="keydiscipline" />
    <result column="academician" jdbcType="INTEGER" property="academician" />
    <result column="doctordegree" jdbcType="INTEGER" property="doctordegree" />
    <result column="masterdegree" jdbcType="INTEGER" property="masterdegree" />
    <result column="location" jdbcType="VARCHAR" property="location" />
    <result column="is985or211" jdbcType="VARCHAR" property="is985or211" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="web" jdbcType="VARCHAR" property="web" />
    <result column="profile" jdbcType="VARCHAR" property="profile" />
  </resultMap>
  <sql id="Base_Column_List">
    uid, name, type, subjection, keydiscipline, academician, doctordegree, masterdegree, 
    location, is985or211, address, telephone, web, profile
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from jbxx
    where uid = #{uid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from jbxx
    where uid = #{uid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lvdouwa.daxue.web.model.Jbxx">
    insert into jbxx (uid, name, type, 
      subjection, keydiscipline, academician, 
      doctordegree, masterdegree, location, 
      is985or211, address, telephone, 
      web, profile)
    values (#{uid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{subjection,jdbcType=VARCHAR}, #{keydiscipline,jdbcType=INTEGER}, #{academician,jdbcType=INTEGER}, 
      #{doctordegree,jdbcType=INTEGER}, #{masterdegree,jdbcType=INTEGER}, #{location,jdbcType=VARCHAR}, 
      #{is985or211,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, 
      #{web,jdbcType=VARCHAR}, #{profile,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lvdouwa.daxue.web.model.Jbxx">
    insert into jbxx
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        uid,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="subjection != null">
        subjection,
      </if>
      <if test="keydiscipline != null">
        keydiscipline,
      </if>
      <if test="academician != null">
        academician,
      </if>
      <if test="doctordegree != null">
        doctordegree,
      </if>
      <if test="masterdegree != null">
        masterdegree,
      </if>
      <if test="location != null">
        location,
      </if>
      <if test="is985or211 != null">
        is985or211,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="telephone != null">
        telephone,
      </if>
      <if test="web != null">
        web,
      </if>
      <if test="profile != null">
        profile,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="subjection != null">
        #{subjection,jdbcType=VARCHAR},
      </if>
      <if test="keydiscipline != null">
        #{keydiscipline,jdbcType=INTEGER},
      </if>
      <if test="academician != null">
        #{academician,jdbcType=INTEGER},
      </if>
      <if test="doctordegree != null">
        #{doctordegree,jdbcType=INTEGER},
      </if>
      <if test="masterdegree != null">
        #{masterdegree,jdbcType=INTEGER},
      </if>
      <if test="location != null">
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="is985or211 != null">
        #{is985or211,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="web != null">
        #{web,jdbcType=VARCHAR},
      </if>
      <if test="profile != null">
        #{profile,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lvdouwa.daxue.web.model.Jbxx">
    update jbxx
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="subjection != null">
        subjection = #{subjection,jdbcType=VARCHAR},
      </if>
      <if test="keydiscipline != null">
        keydiscipline = #{keydiscipline,jdbcType=INTEGER},
      </if>
      <if test="academician != null">
        academician = #{academician,jdbcType=INTEGER},
      </if>
      <if test="doctordegree != null">
        doctordegree = #{doctordegree,jdbcType=INTEGER},
      </if>
      <if test="masterdegree != null">
        masterdegree = #{masterdegree,jdbcType=INTEGER},
      </if>
      <if test="location != null">
        location = #{location,jdbcType=VARCHAR},
      </if>
      <if test="is985or211 != null">
        is985or211 = #{is985or211,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="web != null">
        web = #{web,jdbcType=VARCHAR},
      </if>
      <if test="profile != null">
        profile = #{profile,jdbcType=VARCHAR},
      </if>
    </set>
    where uid = #{uid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lvdouwa.daxue.web.model.Jbxx">
    update jbxx
    set name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      subjection = #{subjection,jdbcType=VARCHAR},
      keydiscipline = #{keydiscipline,jdbcType=INTEGER},
      academician = #{academician,jdbcType=INTEGER},
      doctordegree = #{doctordegree,jdbcType=INTEGER},
      masterdegree = #{masterdegree,jdbcType=INTEGER},
      location = #{location,jdbcType=VARCHAR},
      is985or211 = #{is985or211,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      web = #{web,jdbcType=VARCHAR},
      profile = #{profile,jdbcType=VARCHAR}
    where uid = #{uid,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.lvdouwa.daxue.web.model.Jbxx">
    <id column="uid" jdbcType="INTEGER" property="uid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="subjection" jdbcType="VARCHAR" property="subjection" />
    <result column="keydiscipline" jdbcType="INTEGER" property="keydiscipline" />
    <result column="academician" jdbcType="INTEGER" property="academician" />
    <result column="doctordegree" jdbcType="INTEGER" property="doctordegree" />
    <result column="masterdegree" jdbcType="INTEGER" property="masterdegree" />
    <result column="location" jdbcType="VARCHAR" property="location" />
    <result column="is985or211" jdbcType="VARCHAR" property="is985or211" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="web" jdbcType="VARCHAR" property="web" />
    <result column="profile" jdbcType="VARCHAR" property="profile" />
  </resultMap>
  <sql id="Base_Column_List">
    uid, name, type, subjection, keydiscipline, academician, doctordegree, masterdegree, 
    location, is985or211, address, telephone, web, profile
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from jbxx
    where uid = #{uid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from jbxx
    where uid = #{uid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lvdouwa.daxue.web.model.Jbxx">
    insert into jbxx (uid, name, type, 
      subjection, keydiscipline, academician, 
      doctordegree, masterdegree, location, 
      is985or211, address, telephone, 
      web, profile)
    values (#{uid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{subjection,jdbcType=VARCHAR}, #{keydiscipline,jdbcType=INTEGER}, #{academician,jdbcType=INTEGER}, 
      #{doctordegree,jdbcType=INTEGER}, #{masterdegree,jdbcType=INTEGER}, #{location,jdbcType=VARCHAR}, 
      #{is985or211,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, 
      #{web,jdbcType=VARCHAR}, #{profile,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lvdouwa.daxue.web.model.Jbxx">
    insert into jbxx
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        uid,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="subjection != null">
        subjection,
      </if>
      <if test="keydiscipline != null">
        keydiscipline,
      </if>
      <if test="academician != null">
        academician,
      </if>
      <if test="doctordegree != null">
        doctordegree,
      </if>
      <if test="masterdegree != null">
        masterdegree,
      </if>
      <if test="location != null">
        location,
      </if>
      <if test="is985or211 != null">
        is985or211,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="telephone != null">
        telephone,
      </if>
      <if test="web != null">
        web,
      </if>
      <if test="profile != null">
        profile,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="subjection != null">
        #{subjection,jdbcType=VARCHAR},
      </if>
      <if test="keydiscipline != null">
        #{keydiscipline,jdbcType=INTEGER},
      </if>
      <if test="academician != null">
        #{academician,jdbcType=INTEGER},
      </if>
      <if test="doctordegree != null">
        #{doctordegree,jdbcType=INTEGER},
      </if>
      <if test="masterdegree != null">
        #{masterdegree,jdbcType=INTEGER},
      </if>
      <if test="location != null">
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="is985or211 != null">
        #{is985or211,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="web != null">
        #{web,jdbcType=VARCHAR},
      </if>
      <if test="profile != null">
        #{profile,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lvdouwa.daxue.web.model.Jbxx">
    update jbxx
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="subjection != null">
        subjection = #{subjection,jdbcType=VARCHAR},
      </if>
      <if test="keydiscipline != null">
        keydiscipline = #{keydiscipline,jdbcType=INTEGER},
      </if>
      <if test="academician != null">
        academician = #{academician,jdbcType=INTEGER},
      </if>
      <if test="doctordegree != null">
        doctordegree = #{doctordegree,jdbcType=INTEGER},
      </if>
      <if test="masterdegree != null">
        masterdegree = #{masterdegree,jdbcType=INTEGER},
      </if>
      <if test="location != null">
        location = #{location,jdbcType=VARCHAR},
      </if>
      <if test="is985or211 != null">
        is985or211 = #{is985or211,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="web != null">
        web = #{web,jdbcType=VARCHAR},
      </if>
      <if test="profile != null">
        profile = #{profile,jdbcType=VARCHAR},
      </if>
    </set>
    where uid = #{uid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lvdouwa.daxue.web.model.Jbxx">
    update jbxx
    set name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      subjection = #{subjection,jdbcType=VARCHAR},
      keydiscipline = #{keydiscipline,jdbcType=INTEGER},
      academician = #{academician,jdbcType=INTEGER},
      doctordegree = #{doctordegree,jdbcType=INTEGER},
      masterdegree = #{masterdegree,jdbcType=INTEGER},
      location = #{location,jdbcType=VARCHAR},
      is985or211 = #{is985or211,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      web = #{web,jdbcType=VARCHAR},
      profile = #{profile,jdbcType=VARCHAR}
    where uid = #{uid,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.lvdouwa.daxue.web.model.Jbxx">
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="subjection" jdbcType="VARCHAR" property="subjection" />
    <result column="keydiscipline" jdbcType="INTEGER" property="keydiscipline" />
    <result column="academician" jdbcType="INTEGER" property="academician" />
    <result column="doctordegree" jdbcType="INTEGER" property="doctordegree" />
    <result column="masterdegree" jdbcType="INTEGER" property="masterdegree" />
    <result column="location" jdbcType="VARCHAR" property="location" />
    <result column="is985or211" jdbcType="VARCHAR" property="is985or211" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="web" jdbcType="VARCHAR" property="web" />
    <result column="profile" jdbcType="VARCHAR" property="profile" />
  </resultMap>
  <insert id="insert" parameterType="com.lvdouwa.daxue.web.model.Jbxx">
    insert into jbxx (uid, name, type, 
      subjection, keydiscipline, academician, 
      doctordegree, masterdegree, location, 
      is985or211, address, telephone, 
      web, profile)
    values (#{uid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{subjection,jdbcType=VARCHAR}, #{keydiscipline,jdbcType=INTEGER}, #{academician,jdbcType=INTEGER}, 
      #{doctordegree,jdbcType=INTEGER}, #{masterdegree,jdbcType=INTEGER}, #{location,jdbcType=VARCHAR}, 
      #{is985or211,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, 
      #{web,jdbcType=VARCHAR}, #{profile,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lvdouwa.daxue.web.model.Jbxx">
    insert into jbxx
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        uid,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="subjection != null">
        subjection,
      </if>
      <if test="keydiscipline != null">
        keydiscipline,
      </if>
      <if test="academician != null">
        academician,
      </if>
      <if test="doctordegree != null">
        doctordegree,
      </if>
      <if test="masterdegree != null">
        masterdegree,
      </if>
      <if test="location != null">
        location,
      </if>
      <if test="is985or211 != null">
        is985or211,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="telephone != null">
        telephone,
      </if>
      <if test="web != null">
        web,
      </if>
      <if test="profile != null">
        profile,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="subjection != null">
        #{subjection,jdbcType=VARCHAR},
      </if>
      <if test="keydiscipline != null">
        #{keydiscipline,jdbcType=INTEGER},
      </if>
      <if test="academician != null">
        #{academician,jdbcType=INTEGER},
      </if>
      <if test="doctordegree != null">
        #{doctordegree,jdbcType=INTEGER},
      </if>
      <if test="masterdegree != null">
        #{masterdegree,jdbcType=INTEGER},
      </if>
      <if test="location != null">
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="is985or211 != null">
        #{is985or211,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="web != null">
        #{web,jdbcType=VARCHAR},
      </if>
      <if test="profile != null">
        #{profile,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.lvdouwa.daxue.web.model.Jbxx">
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="subjection" jdbcType="VARCHAR" property="subjection" />
    <result column="keydiscipline" jdbcType="INTEGER" property="keydiscipline" />
    <result column="academician" jdbcType="INTEGER" property="academician" />
    <result column="doctordegree" jdbcType="INTEGER" property="doctordegree" />
    <result column="masterdegree" jdbcType="INTEGER" property="masterdegree" />
    <result column="location" jdbcType="VARCHAR" property="location" />
    <result column="is985or211" jdbcType="VARCHAR" property="is985or211" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="web" jdbcType="VARCHAR" property="web" />
    <result column="profile" jdbcType="VARCHAR" property="profile" />
  </resultMap>
  <insert id="insert" parameterType="com.lvdouwa.daxue.web.model.Jbxx">
    insert into jbxx (uid, name, type, 
      subjection, keydiscipline, academician, 
      doctordegree, masterdegree, location, 
      is985or211, address, telephone, 
      web, profile)
    values (#{uid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{subjection,jdbcType=VARCHAR}, #{keydiscipline,jdbcType=INTEGER}, #{academician,jdbcType=INTEGER}, 
      #{doctordegree,jdbcType=INTEGER}, #{masterdegree,jdbcType=INTEGER}, #{location,jdbcType=VARCHAR}, 
      #{is985or211,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, 
      #{web,jdbcType=VARCHAR}, #{profile,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lvdouwa.daxue.web.model.Jbxx">
    insert into jbxx
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        uid,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="subjection != null">
        subjection,
      </if>
      <if test="keydiscipline != null">
        keydiscipline,
      </if>
      <if test="academician != null">
        academician,
      </if>
      <if test="doctordegree != null">
        doctordegree,
      </if>
      <if test="masterdegree != null">
        masterdegree,
      </if>
      <if test="location != null">
        location,
      </if>
      <if test="is985or211 != null">
        is985or211,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="telephone != null">
        telephone,
      </if>
      <if test="web != null">
        web,
      </if>
      <if test="profile != null">
        profile,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="subjection != null">
        #{subjection,jdbcType=VARCHAR},
      </if>
      <if test="keydiscipline != null">
        #{keydiscipline,jdbcType=INTEGER},
      </if>
      <if test="academician != null">
        #{academician,jdbcType=INTEGER},
      </if>
      <if test="doctordegree != null">
        #{doctordegree,jdbcType=INTEGER},
      </if>
      <if test="masterdegree != null">
        #{masterdegree,jdbcType=INTEGER},
      </if>
      <if test="location != null">
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="is985or211 != null">
        #{is985or211,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="web != null">
        #{web,jdbcType=VARCHAR},
      </if>
      <if test="profile != null">
        #{profile,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.lvdouwa.daxue.web.model.Jbxx">
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="subjection" jdbcType="VARCHAR" property="subjection" />
    <result column="keydiscipline" jdbcType="INTEGER" property="keydiscipline" />
    <result column="academician" jdbcType="INTEGER" property="academician" />
    <result column="doctordegree" jdbcType="INTEGER" property="doctordegree" />
    <result column="masterdegree" jdbcType="INTEGER" property="masterdegree" />
    <result column="location" jdbcType="VARCHAR" property="location" />
    <result column="is985or211" jdbcType="VARCHAR" property="is985or211" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="web" jdbcType="VARCHAR" property="web" />
    <result column="profile" jdbcType="VARCHAR" property="profile" />
  </resultMap>
  <insert id="insert" parameterType="com.lvdouwa.daxue.web.model.Jbxx">
    insert into jbxx (uid, name, type, 
      subjection, keydiscipline, academician, 
      doctordegree, masterdegree, location, 
      is985or211, address, telephone, 
      web, profile)
    values (#{uid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{subjection,jdbcType=VARCHAR}, #{keydiscipline,jdbcType=INTEGER}, #{academician,jdbcType=INTEGER}, 
      #{doctordegree,jdbcType=INTEGER}, #{masterdegree,jdbcType=INTEGER}, #{location,jdbcType=VARCHAR}, 
      #{is985or211,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, 
      #{web,jdbcType=VARCHAR}, #{profile,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lvdouwa.daxue.web.model.Jbxx">
    insert into jbxx
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        uid,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="subjection != null">
        subjection,
      </if>
      <if test="keydiscipline != null">
        keydiscipline,
      </if>
      <if test="academician != null">
        academician,
      </if>
      <if test="doctordegree != null">
        doctordegree,
      </if>
      <if test="masterdegree != null">
        masterdegree,
      </if>
      <if test="location != null">
        location,
      </if>
      <if test="is985or211 != null">
        is985or211,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="telephone != null">
        telephone,
      </if>
      <if test="web != null">
        web,
      </if>
      <if test="profile != null">
        profile,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="subjection != null">
        #{subjection,jdbcType=VARCHAR},
      </if>
      <if test="keydiscipline != null">
        #{keydiscipline,jdbcType=INTEGER},
      </if>
      <if test="academician != null">
        #{academician,jdbcType=INTEGER},
      </if>
      <if test="doctordegree != null">
        #{doctordegree,jdbcType=INTEGER},
      </if>
      <if test="masterdegree != null">
        #{masterdegree,jdbcType=INTEGER},
      </if>
      <if test="location != null">
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="is985or211 != null">
        #{is985or211,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="web != null">
        #{web,jdbcType=VARCHAR},
      </if>
      <if test="profile != null">
        #{profile,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>